.col-md-12
  .row
    .panel.panel-default
      .panel-heading Sign up

      .panel-body
        =form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          =devise_error_messages!

          .form-group
            =f.label :email
            =f.email_field :email, required: true, autofocus: true, class: "form-control"

          .form-group
            =f.label :password
            =f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control"

          .form-group
            =f.label :password_confirmation
            =f.password_field :password_confirmation, required: true, class: "form-control"

          %br/
          .form-group
            =f.submit "Sign up", class: "btn btn-primary"
