=form_for @article do |f|
  - if @article.errors.any?
    .alert.alert-danger
      = pluralize(@article.errors.count, "error")
      prohibited this article from being saved:

      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    =f.label :title
    =f.text_field :title, class: "form-control", placeholder: "Title of the article", autofocus: true
  .form-group
    =f.label :body
    =f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of the article"
  .form-group
    %br/
    =f.submit "Submit", class: "btn btn-primary btn-block"
